numpy==1.26.4
matplotlib==3.8.4
scikit-learn==1.4.2
tensorflow==2.16.1
streamlit==1.35.0
Pillow==10.3.0
rich>=10.14.0
protobuf==4.25.3


# รันด้วย Python 3.10
# แล้วกด Reboot app
# pip install -r requirements.txt
# streamlit run app.py
